@model RZA.Models.Loyalty_Programs

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Loyalty_Programs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points_Required" class="control-label"></label>
                <input asp-for="Points_Required" class="form-control" />
                <span asp-validation-for="Points_Required" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reward" class="control-label"></label>
                <input asp-for="Reward" class="form-control" />
                <span asp-validation-for="Reward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_At" class="control-label"></label>
                <input asp-for="Created_At" class="form-control" />
                <span asp-validation-for="Created_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated_At" class="control-label"></label>
                <input asp-for="Updated_At" class="form-control" />
                <span asp-validation-for="Updated_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
