
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="~/css/homepage.css" />

<head><title>Homepage</title></head>

<body class="">
    <div class="image-container"></div>
</body>
</html>

<h1 class="events">OUR EVENTS</h1>

<div class="card-container">
    <div class="card">
        <img src="https://dogcopenhagen.com/1857-large_default/go-explore-treat-bag.jpg">
        <div class="card-content">
            <h3>Dog Walking </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p> 
            <a href="" class="btn"> Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="https://www.housesitmatch.com/wp-content/uploads/2018/06/Dog-sitter-walker-in-park-with-two-dogs-SLIDER.jpg">
        <div class="card-content">
            <h3>Dog Walking </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p> 
            <a href="" class="btn"> Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="https://manninvp.com/wp-content/uploads/2022/02/home-img.jpg">
        <div class="card-content">
            <h3>Dog Walking </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p> 
            <a href="" class="btn"> Read More</a>
        </div>
    </div>
</div>
</div>
